h3, h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 span {
    color: green;
}

body {
    background-color: #EBECE4;
}

#controls {
    min-height: 100px;
    background-color: antiquewhite;
    border: solid 1px #ccc;
    padding: 5px;
}

#time-span {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

#tap-span {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 10px;
    border: solid 1px #ccc;
    background-color: antiquewhite;
    margin-top: 10px;
}

.radio-btn {
    margin-left: 5px;
    padding: 10px 10px;
    border-style: solid;
    border-color: #aaa;
    border-width: 1px;
    border-radius: 5px;
}

.ordinary-btn {
    margin-left: 5px;
    padding: 10px 10px;
    border-style: solid;
    border-color: #aaa;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FADBD8;
}

table {
    margin-top: 10px;
    font-family: arial, sans-serif;
    font-size: small;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

legend {
    font-family:  sans-serif;
}

fieldset {
    margin: 1em;
    border: solid 1px #ccc;
    border-radius: 5px;
}

#backgroundRangeLabel, #stimulusRangeLabel {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

.feedback {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

.feedback-label {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-3-container {
    display: grid;
    grid-template-columns: auto 40% 40%;
    row-gap: 10px;
    column-gap: 5px;
  }

.grid-4-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    column-gap: 5px;
  }

.slider {
    width: 95%;
}