.coords {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

canvas {
    background-color: white;
    margin: 0;
    /* touch-action: manipulation; */
    touch-action: none;
}

#controls {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    font-size: large;
    padding: 5px;

}

#container {
    margin: 0;
    width: 100%;
    min-height: 100%;
    text-align: center;
    background-color: aliceblue;
}

#time-span {
    font-family: 'Courier New', Courier, monospace;
}

button {
    margin-left: 5px;
    padding: 10px 14px;
}

